/* Estilos para a Modal */
.imprimir-etiquetas-modal {
    display: none; /* Esconde a modal por padrão */
    position: fixed;
    z-index: 1000; /* Fica sobre todo o conteúdo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da página */
    height: 100%; /* Altura total da página */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}
.imprimir-etiquetas-modal h2 {
    display: inline;
}

.imprimir-etiquetas-modal-content {
    background-color: #fff;
    margin: 5% auto 5% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura da modal */
    max-width: 600px; /* Largura máxima */
	max-height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
}
.imprimir-etiquetas-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 16px;
}

.imprimir-etiquetas-close:hover,
.imprimir-etiquetas-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.imprimir-etiquetas {
	background-color: #f0f0f1;
	padding: 1em;
}
.imprimir-etiquetas h3 {
	margin: 0 !important;
}
.imprimir-etiquetas p {
	margin: 0 0 1em 0!important;
}
.imprimir-etiquetas #start_line {
	margin-left: 0.5em;
}
.imprimir-etiquetas #ieee-print-label-button {
	margin-top: 1em;
}